<!--
MIT License

Copyright (c) 2018 Bala Murali Manoghar Sai Sudhakar, Akshay Rajaraman

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

-->

<launch>
	<arg name="world" default="Room_Volta"/>
	<arg name="record" default = "true"/>
	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
		<arg name="world_file" value="$(find volta)/worlds/$(arg world).world"/>
	</include>
	<node pkg="gmapping" type="slam_gmapping" name="gmapping"/>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find volta)/rviz/rviz_config.rviz"/>	
	<node pkg="volta" type="volta" name="volta"/>
	<node pkg="rosbag" type="record" name="rosbag_volta" args="record -o /$(find volta)/bagfiles/myrosbag.bag" if="$(arg record)"/>
</launch>
